# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments & secrets
.env
*.env
*.key
*.pem
*.json
service_key.json

# Node / React (if present)
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
